<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <div id="app">
       {{ value }}
       <br>
       <some></some>
       <br>
       <hr>
       {{ param }}
        <model-example v-model="param" v-bind:x="{ val: 10  }">
           <!-- <span>Hello {{ value }}</span> -->
           <!--  -->
           <span v-if="param">Span</span>
           <!-- <input type="text" v-model="value"> -->

           <!--  -->

           <template v-for="item of list" slot="fooBar">
                FooBar slot
           </template>

           <template>
                Default
            </template> 
            
            <h1 slot="header">YOOO</h1>
           
           <!-- + v-for -->
       </model-example>
    </div> 
    
    <script src="./main.js"></script>
</body>
</html>